@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;0,500;1,200;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}

input:focus{
    outline: none;
}

body{
    background: #e7e6e6;
}
/* menu */

.logo{
    width: 120px;
    height: 60px;
}

.menu{
    width: 100%;
    background: #000;
    color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 3;
}

.menu-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu-option{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu-item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0,100% 0, 100% 0, 0 0);
}

.menu-item:hover{
    --clip: polygon(0 0,100% 0, 100% 100%,0 100%);
}


.menu-link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;

}

.menu-link:hover{
    background-color: #151515;
}

.menu-nesting{
    clip-path: var(--clip);
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
}

.menu-link-inside{
    padding: 10px 55px 10px 20px;
    background: #0c0c0c;
}


.buscador{
    position: relative;
}

.buscador img{
    position: absolute;
    right: 2%;
}


#searchInput{
    background: none;
    border: none;
    padding: 5px;
    color: #fff;
    border-bottom: solid 1px #fff;
}

#searchInput:focus{
    background: #151515;
    border-radius: 2px;
    transition: .5s;
}

#shopping-cart{
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

#shopping-cart img{
    width: 35px;
    height: 35px;
}

/* menu hambuerguesa */

.menu-hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

#menu-img {
    display: block;
    width: 32px;
}



.container{
    padding: 60px 1.5% 0;
}


/* Tarjeta Producto */

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content: center;
}

.product-card {
    width: 22.5%;
    margin: 2% 1%;
}

.product-card:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}
.img-card {
    background: #fff;
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content-card {
    padding: 8px;
    width: 100%;
    height: 250px;
    margin-top: -4px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #1a1a1a;
    color: #fff;
}

.title-card {
    height: 15%;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    padding: 6px 0;
}

.description-card {
    margin-top: 13px;
    font-weight: 100;
    padding: 5px 0;
}

#add-car {
    background-color: #aaa;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}
#add-car:hover{
    border: solid 1px #000;
    background: #e2e2e2;
}

#add-car i {
    font-size: 25px;
}

#container-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prace-card {
    font-size: 20px;
    font-weight: 500;
}

.products-describe {
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

/* Modal */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.606);
}

#productoForm {
    position: relative;
    margin: 80px auto;
    background: #e2e2e2;
    padding: 20px;
    width: 60%;
    border-radius: 5px;
}

#btn-close {
    position: absolute;
    top: .5%;
    right: 3%;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

#btn-close:hover,
#btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container-img {
    text-align: center;
    width: 40%;
}

#img-form {
    width: 100%;
    margin-bottom: 7%;
}

#imgProducto {
    display: none;
}

.container-img label {
    background: #aaa;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.container-inputs {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.container-inputs label {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
}

.container-inputs input {
    background: none;
    border: none;
    border-bottom: solid 1px #000;
}

.container-inputs input[type="submit"] {
    margin: 3% auto;
    padding: 10px 0;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: #aaa;
    cursor: pointer;
}

.content-form {
    display: flex;
    justify-content: space-evenly;
}

.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 20px;
    display: none;
}

.cart-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* carrito */

#carrito-container{
    display: none;
    position: fixed;
    right: 0;
    top: 60px;
    width: 500px;
    height: 500px; 
    max-height: 600px;
    overflow: hidden;
    background: #0f0f0f;
    color: #fff;
    z-index: 1;
}

.table-container {
    max-height: 350px;
    overflow-y: auto; 
}

.title-cart{
    height: 50px;
    text-align: center;
}
.title-cart h3{
    padding-top: 3px;
    font-size: 25px;
    font-weight: 500;
}

.table-container th{
    font-size: 19px;
    padding: 2px 9px;
}

.table-container td{
    font-size: 15px;
    font-weight: 100;
    padding: 1px 5px;
}

.cantidad{
    text-align: center;
}

#close-car{
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-weight: 400;
    color: #000;
    background: #ddd;
    border: solid 1px #1a1a1a;
}

.img-carrito{
    width: 100px;
    height: 100px;
}

.table-container button{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border: none;
    background-color: #ddd;
    color: #000;
    margin: 0 2px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.button-cart{
    position: absolute;
    left: 35%;
    bottom: 2%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#limpiar-car,#finalizar-compra{
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
    padding: 6px;
    border-radius: 5%;
    color: #000;
    background: #ddd;
    border: none;
}

@media (max-width: 920px) {
    .menu-container{
        justify-content: space-between;
    }

    .logo{
        margin-right: 30%;
        width: 150px;
    }

    .menu-hamburguer{
        margin-left: 10px;
        display: flex;
    }

    #shopping-cart{
        margin-right: 10px;
    }

    .description-card{
        font-size: 15px;
    }

    .menu-option{
        display: none;
        position: fixed;
        max-width: 250px;
        width: 100%;
        top: 60px;
        bottom: 0;
        left: 0;
        background: #0c0c0c;
        overflow: auto;
        grid-auto-rows: max-content;
        z-index: 4;
    }

    .menu-option--show{
        transform: unset;
        width: 100%;
    }

    .menu-link{
        padding: 25px 0;
        padding: 30px;
        height: auto;
    }
    .menu-item{
        --clip: 0;
        overflow: hidden;
    }
    
    .menu-item--active{
        --transform: rotate(0);
    }

    .menu-nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu-link-inside{
        width: 90%;
        margin-left: auto;
        padding-left: 10px;
        border-left: 1px solid #fff;
    }


    #carrito-container{
        width: 350px;
    }

    .title-cart h3{
        margin-top: 1px;
        font-size: 20px;
    }

    .table-container th{
        font-size: 16px;
    }

    .product-card{
        width: 30%;
    }
}

@media (max-width: 760px){
    
    .product-card{
        width: 30%;
    }

    .img-card{
        height: 180px;
    }

    .title-card{
        font-size: 15px;
        margin-top: 0px;
    }

    .description-card{
        height: 80px;
        font-size: 14px;
    }

    .products-describe{
        flex-wrap: wrap;
        font-size: 13px;
    }
    .prace-card{
        font-size: 14px;
    }

    #carrito-container{
        width: 250px;
    }
    
    #add-car{
        width: 25px;
        height: 25px;
    }

    #add-car i{
        font-size: 19px;
    }
    .logo{
        margin: 0;
        width: 120px;
    }
}

@media (max-width: 481px){

    .logo-menu{
        margin: 0 auto;
        width: 150px;
        height: 150px;
        display: block;
    }

    .logo{
        display: none;
    }

    .product-card{
        width: 45%;
    }


}